#ifndef PT_CONFIG_H
#define PT_CONFIG_H

#define SSID_NAME "your_ssid_name"
#define SSID_PASS "your_ssid_pass"

#define MY_AWS_REGION "eu-central-1"
#define MY_AWS_IOT_ENDPOINT "A2MBBEONHC9LUG"
#define MY_AWS_IOT_MQTT_HOST "A2MBBEONHC9LUG.iot.eu-west-1.amazonaws.com"
#define MY_AWS_IOT_MQTT_PORT 443
#define MY_AWS_IAM_KEY_ID "AKIAIOSFODNN7EXAMPLE"
#define MY_AWS_IAM_SECRET_KEY "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"

#endif //PT_CONFIG_H
